.navbar{
    background-color: #182628 !important;
}
.navbar, .navbar-brand{
	color: #65CCB8 !important;
	font-weight: bold !important;
}
.navbar, .navbar-nav, li a{
	color: #65CCB8 !important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:C:"\Users\Dell-PC\Desktop\project\projectwork\toggle.ping"");
}

#footer{
background:#182628 !important;
color:#65CCB8 !important;
}

body{
	background: #F2F2F2 !important;
	color:#65CCB8 !important;
}